body{
	margin: 0;
	padding: 0;

}
.center{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	height: 75%;
}

.slidershow-container{

	position: absolute;
	width: 100%;
	height: 100%;
}
.bullets{
	position:fixed;
	top: 70%;
	left: 95%;
	width: 4%;
	height: 25%;
	border: 1px solid black;
}
.bullet{
	display:block;
	height: 20%;
	width: 25%;
	position: relative;
	margin: 10% auto;
	background-color: green;
}

section {
	border: 1px solid;
	width: 100%;
	height: 1000px;
	background-color: green;

}